.aboutContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.aboutPhoto img{
    height: 300px;
    margin-right: 60px;
    border: solid 3px;
    border-radius: 25px;
    border: solid 3px var(--color3);
} 

.aboutSection {
    padding-left: 4%;
    padding-right: 3%;
    padding-bottom: 3%;
    font-size: 18px;
    color: var(--color3);
}

.aboutSection h2 {
    margin-bottom: 5%;
    font-size: 40px;
    text-align: center;
    color: var(--color0);
    text-shadow: 2px 2px 4px var(--color3);
}

@media only screen and (max-width: 1000px) {
    .aboutContainer {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding-right: 30px;
    }

    
    .aboutPhoto img {
        margin: 0;
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .aboutSection h2 {
        font-size: 24px;
    }

    .aboutSection {
        font-size: 16px;
    }

    .aboutContainer {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding-right: 30px;
    }

    .aboutPhoto img {
        margin: 0;
        height: 150px;
    }
}