.projectcontainer {
  background-color: var(--color2);
}

.projects {
  text-align: center;
  color: var(--color0);
  font-size: 65px;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  /* background-color: var(--color2); */
}

.projectList {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  /* padding:40px 20px; */
  background-color: var(--color2);
}

.projectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 45%;
  /* background-color: var(--color0); */
  /* border-radius: 8px; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  padding-top: 8px;
  margin-top: 0;
  max-width: max-content;
}

.image {
  height: 50%;
  width: 85%;
  border-radius: 8px;
}

.project-title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 1000;
  color: var(--color0);
}

.project-desc {
  text-align: center;
  margin-top: 14px;
  padding-left:10px;
  padding-right:10px;
  color: var(--color0);
  font-weight: 500;
}

.project-skills {
  color: var(--color0);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:20px;
  padding-right:20px;
  margin: 0;
  text-align: center;
}

.project-btn-wrap {
  display: flex;
  gap: 50px;
  padding-bottom: 10px;
}

.cardicon {
  width: 30px;
  height: 30px;
  padding: 0;
}

.project-btn {
  width: 120px;
  background-color: var(--color1);
  border: none;
  color: var(--color4);
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-weight: 900;
}

.project-btn:hover {
  background-color: var(--color4);
  color: var(--color1);
}

.project-btn:active {
  transform: translatey(2px);
}

@media only screen and (min-width:1650px) {
  .projectList {
    flex-wrap:nowrap;
  }
  .projectItem {
    flex-basis: 100%;
  }
}

@media only screen and (max-width:650px) {

  .projects {
    font-size: 40px;
  }

  .image{
    width: 100%;
  }

  .project-desc {
    padding-left: 5px;
    padding-right: 5px;
  }

  .projectList {
    gap: 20px;
    padding:20px 0;
  }
  .projectItem {
    flex-basis: 80%;
  }

  .projectItem {
    padding-bottom: 10px;
    border-bottom: solid 1px;
    border-color: var(--color0);
  }

  .projectItem:last-child{
    border-bottom: none;
  }

  .project-btn-wrap {
    gap: 20px;

  }
  .project-btn {
    width: 75px;
  }
}