.home {
    margin-top: 80px;
    align-items: center;
    color: var(--color4);
}

.home h3 {
    color: var(--color0);
}

.welcome {
    margin-bottom: 20px;
}

.rainbowarch {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rainbow {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin: 5px;
}

#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#indigo{
    background-color: indigo;
}
#violet{
    background-color: violet;
}

.bioContainer {
    padding-top: 50px;
    padding-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color2);
}

.profilePhoto {
    width: 35%;
    padding-bottom: 30%; 
    position: relative;
}

.profilePhoto img {
    position: absolute;
    left: 0;
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
    border: solid 3px;
}

.typewriter {
    font-size: 22px !important;
    color: var(--color1);
    font-weight: 400;
}

.about {
    align-self: flex-start;
    width: 60%;
    align-items: left;
    text-align: left;
    color: var(--color0);
}


.about h2 {
    font-size: 60px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color4);
}

.prompt {
    margin-top: 40px;
    font-size: 25px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: var(--color3);
}

.skills {
    font-size: 65px;
    margin-bottom: 0;
    color: var(--color3);
}

.group {
    display: flex;
    flex-wrap: wrap;
}

.icon-text {
    flex-basis: calc(100% / 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    font-size: 20px;
}

.icon-text svg {
    height: 30px;
    width: 50px;
}