.home {
    align-items: center;
    color: var(--color4);
}

.bioContainer {
    padding-top: 50px;
    padding-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color2);
}

.profilePhoto {
    width: 35%;
    padding-bottom: 30%; 
    position: relative;
}

.profilePhoto img {
    position: absolute;
    left: 0;
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
    border: solid 3px;
}

.about {
    align-self: flex-start;
    width: 60%;
    align-items: left;
    text-align: left;
    color: var(--color0);
}


.about h2 {
    font-size: 60px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color4);
}

.prompt {
    margin-top: 40px;
    font-size: 25px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: var(--color3);
}

.skills {
    font-size: 65px;
    margin-bottom: 0;
    color: var(--color3);
}

.group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.icon-text {
    flex-basis: calc(100% / 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    font-size: 20px;
}

.icon-text svg {
    height: 30px;
    width: 50px;
}

@media only screen and (max-width: 1200px) {
    /* .bioContainer {
      flex-direction: column;
      align-items: center;
    } */
  
    /* .profilePhoto {
      width: 20%;
      padding-bottom: 50%;
      left: 2%;
      order: 1;
    } */

    .profilePhoto img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
    }

    .about h2 {
      font-size: 20px;
      height: auto;
    }
/* 
    .about {
        width: 100%;
        height: auto;
        text-align: center;
        order: 4;
      }
  
    .about .prompt {
        font-size: 20px;
        text-align: center;
        margin-left: 14px;
    }


    .skills {
        margin-bottom: 10px;
    }

    .list {
        padding-left: 6px;
        padding-right: 6px;
    } */

}