.contactForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: var(--color2);
}

.formcontainer {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 8px;
  padding: 20px;
  background-color: var(--color3);
  margin-right: 20px;
}

.contactForm h1, h3, label {
  text-align: center;
  color: var(--color4);
}

.contactForm input , textarea {
  border: solid 2px;
  margin-left: 5px;
  margin-bottom: 5px;
  outline: none;
  width: 230px;
  padding: 13px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  background-color: var(--color4);
  border: solid 2px var(--color4);
  color: var(--color0);
}

.contactForm input[type=text]::placeholder,[type=email]::placeholder,
.contactForm textarea::placeholder {
text-align: center;
color: var(--color3)
}

textarea {
  height: 150px;
  width: 470px;
  resize: none;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm input:focus, textarea:focus {
  border: 2px solid var(--color1);
  border-radius: 8px;
  color: var(--color0);
}

#contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: var(--color4);
  background-color: var(--color1);
}

#contactButton svg {
  margin-left: 5px;
}

#contactButton:hover {
  cursor: pointer;
  border: none;
  color: var(--color1);
  background-color: var(--color4);
}

#contactButton:active {
  transform: translateY(3px);
}

.formSent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  border-radius: 4px;
  width: 250px;
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}


@media screen and (max-width: 1025px) {
  .contactForm {
    flex-direction: column-reverse;
  }

  .formcontainer {
    margin-right: 0;
  }
}

@media screen and (max-width:550px) {

  .contactForm {
    width: 100% !important;
  }

  .contactForm h1 {
    font-size: 20px;
  }

  .contactForm h3 {
    font-size: 18px;
  }

  .inputform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  textarea {
    height: 150px;
    width: 250px ;
    resize: none;
  }

  .formcontainer {
    background-color: transparent;
    box-shadow: none;
  }
  
}
