.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 58vh;
}

.bubbles {
    position: relative;
    display: flex;
    width: auto;
    z-index: 0;
    overflow-y: hidden;
}
.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--color2);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0px var(--color3),
     0 0 18px var(--color2),
     0 0 50px var(--color2);
     animation: bubbles 15s linear infinite;
     animation-duration: calc(190s / var(--i));
}
.bubbles span:nth-child(even) {
    background-color: var(--color1);
    box-shadow: 0 0 0 0px var(--color2),
    0 0 20px var(--color3),
    0 0 60px var(--color3);
}
.bubbles span:nth-child(3n+2) {
    background-color: var(--color3);
    box-shadow: 0 0 0 0px var(--color2),
    0 0 25px var(--color3),
    0 0 50px var(--color3);
}
@keyframes bubbles{
    0% {
        transform: translateY(40vh) scale(0);
    }
    100% {
        transform: translateY(-30vh) scale(1);
    }
}

.memojicontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
}

.memoji {
    position: absolute;
    right: 10%;
    opacity: 1;
    z-index: 2;
    width: 210px;
    height: 210px;
}

.rainbowarch {
    display: flex;
    justify-content: flex-start;
    animation: slideInContainer 1s ease forwards; 
    z-index: 2;
}

.rainbowarch button{
    width: 43px;
    height: 43px;
    border: none;
    border-radius: 50%;
    margin: 8px;
}
  
  @keyframes slideInContainer {
    0% {
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(0); 
    }
  }

.welcome h3 {
    position: relative;
    top: -100px; 
    opacity: 0; 
    animation: bounce 2s ease 1s forwards; 
    z-index: 2;
}

#h3 {
    position: relative;
    color: var(--color1);
    z-index: 2;
}

.typewriter {
    position: relative;
    color: var(--color0) !important;
    z-index: 2;
}

@keyframes bounce {
    0% {
        top: -100px;
        opacity: 0;
    }
    25% {
        top: 0;
        opacity: 1;
    }
    40% {
        top: -30px;
    }
    50% {
        top: 0;
    }
    60% {
        top: -15px;
    }
    75% {
        top: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}


#red{
    background-color: red;
    animation: slideInButton 1s ease forwards; 
    animation: wobble 2.5s 1s ease forwards;
}
#orange{
    background-color: orange;
    animation: slideInButton 1s ease forwards; 
    animation: wobble 2.3s 1s ease forwards;
}
#yellow{
    background-color: yellow;
    animation: slideInButton 1s ease forwards; 
    animation: wobble 2.2s 1s ease forwards;
}
#green{
    background-color: green;
    animation: slideInButton 1s ease forwards; 
    animation: wobble 2s 1s ease forwards;
}
#blue{
    background-color: blue;
    animation: slideInButton 1s ease forwards; 
    animation: wobble 1.9s 1s  ease forwards;
}
#purple{
    background-color: indigo;
    animation: slideInButton 1s ease forwards; 
    animation: wobble 1.4s 1s ease forwards;
}
#pink {
    background-color: #ee82ee;
    animation: slideInButton 1s ease forwards; 
    animation: wobble 1s 1s ease forwards;
}
#grey {
    background-color: grey;
    animation: slideInButton 1s ease forwards; 
    animation: wobble 1s 1s ease forwards;
}

    
    
    @keyframes wobble {
        0% {
            transform: translateX(0);
        }
        30% {
            transform: translateX(-8%);
        }
        70% {
            transform: translateX(6%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes slideInButton {
      0% {
        transform: translateX(-100%);
      }
      80% {
        transform: translateX(0);
      }
      85% {
        transform: translateX(-5%);
      }
      95% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(0);
      }
    }


.pulse {
    animation: pulse-animation 2s infinite !important;
}

@keyframes pulse-animation {
    0% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 var(--color2);
    }

    40% {
        transform: scale(1);
        box-shadow: 0 0 0 9px var(--color2);
    }

    100% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 var(--color2);
    }
}

.typewriter {
    font-size: 26px !important;
    color: var(--color3);
    font-weight: 800;
    position: relative;
    bottom: -20%;
}

@media only screen and (max-width: 1150px) {
    .memoji {
        right: 20px
    }
}

@media only screen and (max-width: 775px) {
    .memoji {
        right: 10px;
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 650px) {
    .welcome {
        height: 40vh;
    }
    .memoji {
        right: 10px;
        width: 130px;
        height: 130px;
    }
    .rainbowarch button{
        width: 28px;
        height: 28px;
        border: none;
        border-radius: 50%;
        margin: 8px;
    }
    .welcome h3 {
        font-size: 16px;
    }

    .typewriter{
        font-size: 18px !important;
        position: relative;
        bottom: -10%;
    }

    @keyframes pulse-animation {
        0% {
            transform: scale(.95);
            box-shadow: 0 0 0 0 var(--color2);
        }
    
        40% {
            transform: scale(1);
            box-shadow: 0 0 0 6px var(--color2);
        }
    
        100% {
            transform: scale(.95);
            box-shadow: 0 0 0 0 var(--color2);
        }
    }
    
}

@media only screen and (max-width: 375px) {

    .welcome {
        padding-top: 30px;
    }

    .rainbowarch button{
        width: 18px;
        height: 18px;
        border: none;
        border-radius: 50%;
        margin: 4px;
    }
    .welcome h3 {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .memoji {
        right: 10px;
        width: 100px;
        height: 100px;
    }
    .typewriter{
        font-size: 15px !important;
        position: inherit;
    }
}