.sidebar {
    position: fixed;
    top: 20%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: var(--color1);
  }
  
  .sidebar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    color: var(--color4);
  }

  .sidebar a:hover {
    color: var(--color0);
  }
  
  .navlink {
    cursor: pointer;
  }

  @media (max-width: 475px) {
    .sidebar {
      top: 50%; 
      transform: translate(0, -78%);
    }
  
    .sidebar a {
      font-size: 12px; 
    }
  }