:root {
  --color1: #DDDBCC;
  --color2: #5f8d9e;
  --color3: #495868;
  --color4: #8f8f8f;
  --color5: #1C2120;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color4);
}